sudo: required

services:
  - docker

# language: node_js

before_install:
  - docker build -t davy/jbook -f Dockerfile.dev .

script:
  - docker run -e CI=true davy/jbook npm run test -- --coverage

deploy:
  provider: elasticbeanstalk
  region: "ap-south-1"
  app: "docker"
  env: "Docker-env"
  bucket_name: "elasticbeanstalk-ap-south-1-301061314963"
  bucket_path: "docker"
  on:
    branch: master
  access_key_id: $AWS_ACCESS_KEY
  secret_access_key:
    secure: $AWS_SECRET_KEY

